.wrapper {
  display: flex;
  justify-content: space-between;
}

.main {
  width: calc(100% - 230px);
  height: 100vh;
}

.sidebar {
  width: 230px;
}

.modal-achor,
.modal-achor:hover {
  color: inherit;
  text-decoration: none;
}

/** SIDE BAR MENU */
.menu {
  background: #eb6864;
  color: #ffffff;
  height: 100vh;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
}
.menu .avatar {
  background: rgba(0, 0, 0, 0.1);
  padding: 2em 0.5em;
  text-align: center;
}
.menu .avatar img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #ffea92;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.2);
}
.menu .avatar h2 {
  font-weight: normal;
  margin-bottom: 0;
}
.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
}
.menu ul li {
  margin-bottom: 10px;
  padding: 0.5em 1em 0.5em 3em;
  font-size: 0.95em;
  font-weight: regular;
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: auto 20px;
  transition: all 0.15s linear;
  cursor: pointer;
}
/**ENTYPO ICONS */
.menu ul li.icon-dashboard {
  background-image: url("http://www.entypo.com/images//gauge.svg");
}
.menu ul li.icon-staff {
  background-image: url("http://www.entypo.com/images//briefcase.svg");
}
.menu ul li.icon-users {
  background-image: url("http://www.entypo.com/images//users.svg");
}
.menu ul li.icon-update {
  background-image: url("http://www.entypo.com/images//tools.svg");
}

.menu ul li.icon-notification {
  background-image: url("http://www.entypo.com/images/megaphone.svg");
}

.menu ul li.icon-logout {
  background-image: url("http://entypo.com/images/log-out.svg");
}

/**END ENTYPO ICONS */
.menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu ul li:focus {
  outline: none;
}

@media screen and (max-width: 900px) and (min-width: 400px) {
  body {
    padding-left: 90px;
  }
  .main {
    width: 100%;
  }
  .sidebar {
    width: 0px;
  }
  .menu {
    width: 90px;
  }

  .menu .avatar {
    padding: 0.5em;
    position: relative;
  }
  .menu .avatar img {
    width: 60px;
  }
  .menu .avatar h2 {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 100px;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
    transform: translate3d(-20px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu .avatar:hover h2 {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
  .menu ul li {
    height: 60px;
    background-position: center center;
    background-size: 30px auto;
    position: relative;
  }
  .menu ul li span {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.2em 0.5em;
    border-radius: 4px;
    top: 50%;
    left: 80px;
    transform: translate3d(-15px, -50%, 0);
    transition: all 0.15s ease-in-out;
  }
  .menu ul li span:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
  }
  .menu ul li:hover span {
    opacity: 1;
    transform: translate3d(0px, -50%, 0);
  }
}
@media screen and (max-width: 400px) {
  .main {
    width: unset;
  }
  .sidebar {
    width: unset;
  }
  body {
    padding-left: 0;
  }
  .menu {
    width: 230px;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-230px, 0, 0);
    transition: all 0.3s ease-in-out;
  }
  .menu .smartphone-menu-trigger {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 100%;
    background: #5bc995;
  }
  .menu .smartphone-menu-trigger:before,
  .menu .smartphone-menu-trigger:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu .smartphone-menu-trigger:after {
    top: 55%;
    transform: translate3d(-50%, -50%, 0);
  }
  .menu ul li {
    padding: 1em 1em 1em 3em;
    font-size: 1.2em;
  }
  .menu:focus {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
  }
  .menu:focus .smartphone-menu-trigger {
    pointer-events: none;
  }
}

/** MAIN CONTENT */
.main .dash-header {
  height: 30px;
  top: 0;
  width: 100%;
  background-color: #5f5f5f;
}

.main .dash-header h4 {
  color: #eb6864;
}

@media screen and (max-width: 800px) {
  .dash-header h4 {
    padding-top: 5px;
    font-size: smaller;
  }
}

.quick-cards {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 20px;
}

.card {
  border-radius: 15px;
  margin-bottom: 20px;
}

.quick-cards-stat-intro {
  color: #9e9999;
}
.quick-cards-stat-value {
  /*color: #383737; */
  color: #484747;
  font-size: 40px;

  font-weight: 700;
  line-height: 47px;
  text-align: center;
}

/** USERS ACTIVITY */
.admin-card-container {
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 20px;
}

.news-indicator {
  color: #eb6864;
}

.breaking-news-table td:hover {
  font-weight: 700;
  color: #eb6864;
}
